# Process
## go through each solutions code.
## extract the important bits for analysis classificaiton learning etc
### use that to infor how to slice the LendingClub data
#### much faster to tune things with an example than to web-search it

# <span style="color:green">All Module Imports</span>

In [22]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# <span style="color:blue">All File Imports</span>

In [46]:
# Lesson 2
lesson2_df = pd.read_csv(filepath_or_buffer="../../../\
JSE_OkCupid/profiles.csv")
lesson2_df2 = pd.read_csv('../../../\
DS-SF-33/lessons/02/data/dataset-02-ozone.csv')

Code Snips

<span style="color:green">Load file Data</span>

pd.set_option("display.width",500)

pd.set_option("max_colwidth",500)

pd.set_option("max_rows",200)

data_dictionary.sort_values('LoanStatNew')

pd.set_option("max_colwidth",80)

pd.set_option("max_rows",60)

inted2 = [int(x) for x in inted]

inted2 = sorted(inted2)

!pwd

!ls '../data/'

get_ipython().magic(u'matplotlib inline')

# Lesson 1

In [1]:
# nothing

# Lesson 2

In [9]:
# pd.set_option('display.max_rows', 10)
# pd.set_option('display.notebook_repr_html', True)
# pd.set_option('display.max_columns', 10)

!pwd
!ls '../../'

/Users/revit/general_assembly_git/ds-sf-33_work/3_final_projects/code
0_lessons        1_homework       2_unit_projects  3_final_projects

In [10]:
pd.read_csv?

In [18]:
lesson2_df.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

In [21]:
print(lesson2_df.shape)
print(lesson2_df.index.values)
print(lesson2_df.columns.values)
print(lesson2_df.dtypes)
lesson2_df.describe()

(59946, 31)
[    0     1     2 ..., 59943 59944 59945]
['age' 'body_type' 'diet' 'drinks' 'drugs' 'education' 'essay0' 'essay1'
 'essay2' 'essay3' 'essay4' 'essay5' 'essay6' 'essay7' 'essay8' 'essay9'
 'ethnicity' 'height' 'income' 'job' 'last_online' 'location' 'offspring'
 'orientation' 'pets' 'religion' 'sex' 'sign' 'smokes' 'speaks' 'status']
age              int64
body_type       object
diet            object
drinks          object
drugs           object
education       object
essay0          object
essay1          object
essay2          object
essay3          object
essay4          object
essay5          object
essay6          object
essay7          object
essay8          object
essay9          object
ethnicity       object
height         float64
income           int64
job             object
last_online     object
location        object
offspring       object
orientation     object
pets            object
religion        object
sex             object
sign            object
smokes          object
speaks          object
status          object
dtype: object

                age        height          income
count  59946.000000  59943.000000    59946.000000
mean      32.340290     68.295281    20033.222534
std        9.452779      3.994803    97346.192104
min       18.000000      1.000000       -1.000000
25%       26.000000     66.000000       -1.000000
50%       30.000000     68.000000       -1.000000
75%       37.000000     71.000000       -1.000000
max      110.000000     95.000000  1000000.000000

In [35]:
rng = np.random.RandomState(42)
pick = rng.randint(0,len(lesson2_df))
pick

56422

In [38]:
# lesson2_df.iloc[pick] #same
lesson2_df.iloc[pick, :]

age                                                           46
body_type                                                average
diet                                                         NaN
drinks                                                not at all
drugs                                                      never
education                      graduated from college/university
essay0         i am just down to earth man.i am simple,lookin...
essay1         i do what i have to do for living.i do not try...
essay2         i do love sports and love the outdoors activit...
essay3                               my smile and my simplicity.
essay4         i like the drama,comedy and the action ones.i ...
essay5                                                       NaN
essay6                                                       NaN
essay7                                                       NaN
essay8                                                       NaN
essay9                                                       NaN
ethnicity                                         middle eastern
height                                                        71
income                                                     20000
job                                                        other
last_online                                     2012-06-28-14-35
location                               san francisco, california
offspring                                                    NaN
orientation                                             straight
pets                                   likes dogs and likes cats
religion                                                   other
sex                                                            m
sign                        aquarius but it doesn&rsquo;t matter
smokes                                                        no
speaks                                            english (okay)
status                                                    single
Name: 56422, dtype: object

In [39]:
lesson2_df[0:3]

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available

In [42]:
lesson2_df.loc[:,'drinks']

0          socially
1             often
2          socially
3          socially
4          socially
5          socially
6          socially
7          socially
8          socially
9        not at all
10         socially
11         socially
12            often
13         socially
14         socially
15         socially
16         socially
17         socially
18           rarely
19         socially
20         socially
21         socially
22         socially
23       not at all
24         socially
25           rarely
26         socially
27         socially
28         socially
29         socially
            ...
59916      socially
59917      socially
59918      socially
59919           NaN
59920      socially
59921      socially
59922      socially
59923      socially
59924      socially
59925      socially
59926      socially
59927      socially
59928      socially
59929      socially
59930      socially
59931        rarely
59932      socially
59933      socially
59934      socially
59935      socially
59936      socially
59937      socially
59938           NaN
59939      socially
59940      socially
59941      socially
59942         often
59943    not at all
59944      socially
59945      socially
Name: drinks, dtype: object

In [43]:
lesson2_df.iloc[::2, [10,22]]

,essay4,offspring
0,"books:<br />\nabsurdistan, the republic, of mi...","doesn&rsquo;t have kids, but might want them"
2,okay this is where the cultural matrix gets so...,NaN
4,"music: bands, rappers, musicians<br />\nat the...",NaN
6,i like books. ones with pictures. reading them...,NaN
8,i am always willing to try new foods and am no...,doesn&rsquo;t have kids
10,"i'm constantly reading, i read at what my frie...",NaN
12,NaN,doesn&rsquo;t have kids
14,books:<br />\nmy all-time favorite book is geo...,"doesn&rsquo;t have kids, but wants them"
16,movies/tv/etc:<br />\nthe big lebowski (and ot...,NaN
18,"i like stories that are adventurous, fun, and ...",NaN
20,NaN,NaN
22,a confederacy of dunces and infinite jest are ...,"doesn&rsquo;t have kids, but might want them"
24,"mostly i read nonfiction; sociology, psych, in...",NaN
26,"books -<br />\ndan brown: deception point, dig...",NaN
28,books: 1491. omnivore's dilemma. the amazing a...,NaN
30,NaN,NaN
32,NaN,doesn&rsquo;t have kids
34,a far-from-exhaustive sampling of each:<br />\...,NaN
36,NaN,"doesn&rsquo;t have kids, but wants them"
38,books: reading is sexy. yes. many. everyday.<b...,NaN
40,"<p>books: almost anything fantasy: <a class=""i...",doesn&rsquo;t have kids
42,"books: world war z, cat's cradle/galapagos/oth...",NaN
44,"anything written by tom robbins, clive barker,...",doesn&rsquo;t have kids
46,NaN,NaN
48,"music: philip glass, sonic youth, rebecca blac...",doesn&rsquo;t have kids
50,"this is a funny section, because these things ...",NaN
52,books:<br />\n<br />\nmost david sedaris<br />...,doesn&rsquo;t have kids
54,NaN,NaN
56,"books: the wind up bird chronicle, guns germs ...",NaN
58,NaN,NaN
...,...,...
59886,i love pretty much everything about latin amer...,NaN
59888,"shows: dexter, californication, united states ...",NaN
59890,books: love them<br />\nmovies: anything reall...,NaN
59892,"music: bjork, autolux, portishead, nirvana, dj...",doesn&rsquo;t have kids
59894,NaN,NaN
59896,i love books! i just finished a sand county al...,doesn&rsquo;t have kids
59898,"books: twilight, john grisham, vc andrews.<br ...",has kids
59900,"major food enthusiast (if i say ""foodie"" does ...",doesn&rsquo;t have kids
59902,"books: on the road, mexico city blues, big sur...","doesn&rsquo;t have kids, but might want them"
59904,i love to read....although hard to pick a favo...,has kids
59906,"i like all tv, most movies, some music, and di...",NaN
59908,NaN,NaN
59910,give me a good murder mystery and i'm set.<br ...,NaN
59912,"books: fantasy, manga, romance, comic, or grap...","doesn&rsquo;t have kids, but might want them"
59914,"fried chicken, 30 rock, rihanna, hunger games,...",NaN
59916,"books: flowers for algernon, a wrinkle in time...","doesn&rsquo;t have kids, but might want them"
59918,these are a few of my favorite things....<br /...,NaN
59920,"books: east of eden, lolita, 100 years of soli...",doesn&rsquo;t have kids
59922,"books: extremely loud and incredibly close, ma...","doesn&rsquo;t have kids, and doesn&rsquo;t wan..."
59924,"books: finite and infinite games, choke, gonzo...",NaN
59926,shows: seinfeld is hysterical!<br />\nmusic: o...,NaN
59928,i don't really learn much from fiction and eve...,NaN
59930,NaN,NaN
59932,"stephen king books and horror books, anything ...",doesn&rsquo;t want kids
59934,i love reading but these days more of my time ...,has a kid
59936,NaN,doesn&rsquo;t have kids
59938,"books: lately - eckhart tolle's ""a new earth,""...",doesn&rsquo;t have kids
59940,"too many to name ...<br />\n-a new earth, kite...",NaN
59942,<strong>movies</strong>:<br />\nhook (the grea...,doesn&rsquo;t have kids
59944,where to begin musically: right now i listen t...,"doesn&rsquo;t have kids, but wants them"

In [45]:
lesson2_df[lesson2_df.age >40].shape

(10329, 31)

In [50]:
print(lesson2_df2.iloc[46]['Ozone'])
print(lesson2_df2[lesson2_df2['Ozone'].isnull()]['Ozone'].count())
lesson2_df2.tail(2)

21.0
0

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [53]:
print(lesson2_df2["Ozone"].mean())
print(lesson2_df2["Ozone"].mean(skipna=True))
lesson2_df2["Ozone"].mean(skipna=False)

42.12931034482759
42.12931034482759

nan

In [59]:
# lesson2_df2.mask?
# filtered_df = df.mask(df.Ozone.notnull()>31).mask(df.Temp.notnull()> 90)
# that does not pull > 31 and > 90, it pulls < 31 and < 90
# mask says "where cond is False"
print(lesson2_df2[lesson2_df2.Month==6]['Temp'].mean())
lesson2_df2[lesson2_df2.Month==5]['Ozone'].max()

79.1

115.0

In [61]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
lesson2_df3 = pd.DataFrame({'fruit' : fruits, 'weekday' : weekdays
                            , 'qty' : range(0,5)})

In [63]:
lesson2_df3

       fruit  qty    weekday
0      Apple    0     Monday
1     Orange    1    Tuesday
2       Plum    2  Wednesday
3      Grape    3   Thursday
4  Blueberry    4     Friday

In [64]:
lesson2_df3[lesson2_df3.qty < 3]

    fruit  qty    weekday
0   Apple    0     Monday
1  Orange    1    Tuesday
2    Plum    2  Wednesday

In [65]:
lesson2_df3[lesson2_df3['qty'] < 3]

    fruit  qty    weekday
0   Apple    0     Monday
1  Orange    1    Tuesday
2    Plum    2  Wednesday

In [67]:
lesson2_df3.iloc[2]

fruit           Plum
qty                2
weekday    Wednesday
Name: 2, dtype: object

In [68]:
lesson2_df3[:2]

    fruit  qty  weekday
0   Apple    0   Monday
1  Orange    1  Tuesday

In [70]:
lesson2_df3.qty.mean()

2.0

In [71]:
lesson2_df3.qty.sum()

10

# Lesson 3

Lesson 4

Lesson 5

Lesson 6

Lesson 7

Lesson 8

Lesson 9

Lesosn 10

Lesson 11

Lesson 12

Lesson 13

Lesson 14

Lesson 15

Lesson 16

Lesson 17

Lesson 18

# Lesson 19

skip

# Lesson 20