##### meta
<span style="color:red">word</span>
<span style="color:red"></span>
## Required Modules

In [2]:
import os
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
get_ipython().magic(u'matplotlib inline')

# <span style="color:green">Load file Data</span>

In [5]:
data_dictionary = pd.read_excel("../assets/lending-club-loan-data/LCDataDictionary.xlsx")

In [7]:
data_dictionary

,LoanStatNew,Description
0,addr_state,The state provided by the borrower in the loan...
1,annual_inc,The self-reported annual income provided by th...
2,annual_inc_joint,The combined self-reported annual income provi...
3,application_type,Indicates whether the loan is an individual ap...
4,collection_recovery_fee,post charge off collection fee
5,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
6,delinq_2yrs,The number of 30+ days past-due incidences of ...
7,desc,Loan description provided by the borrower
8,dti,A ratio calculated using the borrower’s total ...
9,dti_joint,A ratio calculated using the co-borrowers' tot...
10,earliest_cr_line,The month the borrower's earliest reported cre...
11,emp_length,Employment length in years. Possible values ar...
12,emp_title,The job title supplied by the Borrower when ap...
13,fico_range_high,The upper boundary range the borrower’s FICO a...
14,fico_range_low,The lower boundary range the borrower’s FICO a...
15,funded_amnt,The total amount committed to that loan at tha...
16,funded_amnt_inv,The total amount committed by investors for th...
17,grade,LC assigned loan grade
18,home_ownership,The home ownership status provided by the borr...
19,id,A unique LC assigned ID for the loan listing.
20,initial_list_status,The initial listing status of the loan. Possib...
21,inq_last_6mths,The number of inquiries in past 6 months (excl...
22,installment,The monthly payment owed by the borrower if th...
23,int_rate,Interest Rate on the loan
24,is_inc_v,"Indicates if income was verified by LC, not ve..."
25,issue_d,The month which the loan was funded
26,last_credit_pull_d,The most recent month LC pulled credit for thi...
27,last_fico_range_high,The upper boundary range the borrower’s last F...
28,last_fico_range_low,The lower boundary range the borrower’s last F...
29,last_pymnt_amnt,Last total payment amount received
...,...,...
50,title,The loan title provided by the borrower
51,total_acc,The total number of credit lines currently in ...
52,total_pymnt,Payments received to date for total amount funded
53,total_pymnt_inv,Payments received to date for portion of total...
54,total_rec_int,Interest received to date
55,total_rec_late_fee,Late fees received to date
56,total_rec_prncp,Principal received to date
57,url,URL for the LC page with listing data.
58,verified_status_joint,Indicates if the co-borrowers' joint income wa...
59,zip_code,The first 3 numbers of the zip code provided b...
60,open_acc_6m,Number of open trades in last 6 months
61,open_il_6m,Number of currently active installment trades
62,open_il_12m,Number of installment accounts opened in past ...
63,open_il_24m,Number of installment accounts opened in past ...
64,mths_since_rcnt_il,Months since most recent installment accounts ...
65,total_bal_il,Total current balance of all installment accounts
66,il_util,Ratio of total current balance to high credit/...
67,open_rv_12m,Number of revolving trades opened in past 12 m...
68,open_rv_24m,Number of revolving trades opened in past 24 m...
69,max_bal_bc,Maximum current balance owed on all revolving ...
70,all_util,Balance to credit limit on all trades
71,total_rev_hi_lim,Total revolving high credit/credit limit
72,inq_fi,Number of personal finance inquiries
73,total_cu_tl,Number of finance trades
74,inq_last_12m,Number of credit inquiries in past 12 months
75,acc_now_delinq,The number of accounts on which the borrower i...
76,tot_coll_amt,Total collection amounts ever owed
77,tot_cur_bal,Total current balance of all accounts
78,NaN,NaN
79,NaN,* Employer Title replaces Employer Name for al...

In [9]:
col_of_interest = [
'annual_inc',       'annual_inc_joint', 'application_type',
'delinq_2yrs',      'desc',             'dti',
'dti_joint',        'earliest_cr_line', 'emp_length',
'emp_title',        'funded_amnt',      'grade',
'home_ownership',   'installment',      'int_rate',
'loan_amnt',        'loan_status',      'mths_since_last_delinq',
'open_acc',         'out_prncp',        'purpose',
'revol_bal',        'sub_grade',        'term',
'total_acc',        'total_rec_late_fee','total_rec_prncp']

In [11]:
fulloandata = pd.read_csv("../assets/lending-club-loan-data/loan.csv"
                          ,usecols=col_of_interest
                          ,low_memory=True)

/Users/revit/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
fulloandata.columns

Index(['loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'loan_status', 'desc', 'purpose', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'mths_since_last_delinq', 'open_acc', 'revol_bal',
       'total_acc', 'out_prncp', 'total_rec_prncp', 'total_rec_late_fee',
       'application_type', 'annual_inc_joint', 'dti_joint'],
      dtype='object')

In [16]:
fulloandata['open_acc'].dtype

dtype('float64')

In [17]:
fulloandata['revol_bal'].dtype

dtype('float64')

In [18]:
fulloandata.describe()

,loan_amnt,funded_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,mths_since_last_delinq,open_acc,revol_bal,total_acc,out_prncp,total_rec_prncp,total_rec_late_fee,annual_inc_joint,dti_joint
count,887379.000000,887379.000000,887379.000000,887379.000000,8.873750e+05,887379.000000,887350.000000,433067.000000,887350.000000,8.873790e+05,887350.000000,887379.000000,887379.000000,887379.000000,511.000000,509.000000
mean,14755.264605,14741.877625,13.246740,436.717127,7.502759e+04,18.157039,0.314442,34.063798,11.548469,1.692079e+04,25.268026,8403.124852,5757.706424,0.396692,109981.011585,18.310118
std,8435.455601,8429.897657,4.381867,244.186593,6.469830e+04,17.190626,0.862244,21.884940,5.317313,2.242679e+04,11.840561,8493.450269,6625.441046,4.087825,52730.379847,7.169233
min,500.000000,500.000000,5.320000,15.670000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000,17950.000000,3.000000
25%,8000.000000,8000.000000,9.990000,260.705000,4.500000e+04,11.910000,0.000000,15.000000,8.000000,6.443000e+03,17.000000,0.000000,1200.570000,0.000000,76032.500000,13.200000
50%,13000.000000,13000.000000,12.990000,382.550000,6.500000e+04,17.650000,0.000000,31.000000,11.000000,1.187500e+04,24.000000,6458.290000,3215.320000,0.000000,101771.000000,17.610000
75%,20000.000000,20000.000000,16.200000,572.600000,9.000000e+04,23.950000,0.000000,50.000000,14.000000,2.082900e+04,32.000000,13659.055000,8000.000000,0.000000,132800.000000,22.650000
max,35000.000000,35000.000000,28.990000,1445.460000,9.500000e+06,9999.000000,39.000000,188.000000,90.000000,2.904836e+06,169.000000,49372.860000,35000.030000,358.680000,500000.000000,43.860000