In [1]:
import os
import pandas as pd
# import matplotlib
import matplotlib.pyplot as plt
get_ipython().magic(u'matplotlib inline')
import sqlite3
import seaborn as sns
from sklearn import tree

In [2]:
data_dictionary = pd.read_excel("../assets/lending-club-loan-data/LCDataDictionary.xlsx")
data_dictionary

,LoanStatNew,Description
0,addr_state,The state provided by the borrower in the loan...
1,annual_inc,The self-reported annual income provided by th...
2,annual_inc_joint,The combined self-reported annual income provi...
3,application_type,Indicates whether the loan is an individual ap...
4,collection_recovery_fee,post charge off collection fee
5,collections_12_mths_ex_med,Number of collections in 12 months excluding m...
6,delinq_2yrs,The number of 30+ days past-due incidences of ...
7,desc,Loan description provided by the borrower
8,dti,A ratio calculated using the borrower’s total ...
9,dti_joint,A ratio calculated using the co-borrowers' tot...
10,earliest_cr_line,The month the borrower's earliest reported cre...
11,emp_length,Employment length in years. Possible values ar...
12,emp_title,The job title supplied by the Borrower when ap...
13,fico_range_high,The upper boundary range the borrower’s FICO a...
14,fico_range_low,The lower boundary range the borrower’s FICO a...
15,funded_amnt,The total amount committed to that loan at tha...
16,funded_amnt_inv,The total amount committed by investors for th...
17,grade,LC assigned loan grade
18,home_ownership,The home ownership status provided by the borr...
19,id,A unique LC assigned ID for the loan listing.
20,initial_list_status,The initial listing status of the loan. Possib...
21,inq_last_6mths,The number of inquiries in past 6 months (excl...
22,installment,The monthly payment owed by the borrower if th...
23,int_rate,Interest Rate on the loan
24,is_inc_v,"Indicates if income was verified by LC, not ve..."
25,issue_d,The month which the loan was funded
26,last_credit_pull_d,The most recent month LC pulled credit for thi...
27,last_fico_range_high,The upper boundary range the borrower’s last F...
28,last_fico_range_low,The lower boundary range the borrower’s last F...
29,last_pymnt_amnt,Last total payment amount received
...,...,...
50,title,The loan title provided by the borrower
51,total_acc,The total number of credit lines currently in ...
52,total_pymnt,Payments received to date for total amount funded
53,total_pymnt_inv,Payments received to date for portion of total...
54,total_rec_int,Interest received to date
55,total_rec_late_fee,Late fees received to date
56,total_rec_prncp,Principal received to date
57,url,URL for the LC page with listing data.
58,verified_status_joint,Indicates if the co-borrowers' joint income wa...
59,zip_code,The first 3 numbers of the zip code provided b...
60,open_acc_6m,Number of open trades in last 6 months
61,open_il_6m,Number of currently active installment trades
62,open_il_12m,Number of installment accounts opened in past ...
63,open_il_24m,Number of installment accounts opened in past ...
64,mths_since_rcnt_il,Months since most recent installment accounts ...
65,total_bal_il,Total current balance of all installment accounts
66,il_util,Ratio of total current balance to high credit/...
67,open_rv_12m,Number of revolving trades opened in past 12 m...
68,open_rv_24m,Number of revolving trades opened in past 24 m...
69,max_bal_bc,Maximum current balance owed on all revolving ...
70,all_util,Balance to credit limit on all trades
71,total_rev_hi_lim,Total revolving high credit/credit limit
72,inq_fi,Number of personal finance inquiries
73,total_cu_tl,Number of finance trades
74,inq_last_12m,Number of credit inquiries in past 12 months
75,acc_now_delinq,The number of accounts on which the borrower i...
76,tot_coll_amt,Total collection amounts ever owed
77,tot_cur_bal,Total current balance of all accounts
78,NaN,NaN
79,NaN,* Employer Title replaces Employer Name for al...

In [3]:
col_of_interest = [
'annual_inc',       'annual_inc_joint', 'application_type',
'delinq_2yrs',      'desc',             'dti',
'dti_joint',        'earliest_cr_line', 'emp_length',
'emp_title',        'funded_amnt',      'grade',
'home_ownership',   'installment',      'int_rate',
'loan_amnt',        'loan_status',      'mths_since_last_delinq',
'open_acc',         'out_prncp',        'purpose',
'revol_bal',        'sub_grade',        'term',
'total_acc',        'total_rec_late_fee','total_rec_prncp']

other_cols = []

query = "select {} from loan;".format(','.join(col_of_interest))
query

'select annual_inc,annual_inc_joint,application_type,delinq_2yrs,desc,dti,dti_joint,earliest_cr_line,emp_length,emp_title,funded_amnt,grade,home_ownership,installment,int_rate,loan_amnt,loan_status,mths_since_last_delinq,open_acc,out_prncp,purpose,revol_bal,sub_grade,term,total_acc,total_rec_late_fee,total_rec_prncp from loan;'

In [4]:
# 1 minute to load
_loantable_connection = sqlite3.connect('../assets/lending-club-loan-data/database.sqlite')
loandf = pd.read_sql(query,_loantable_connection)
_loantable_connection.close()

In [5]:
loandf['int_rate'] = loandf.int_rate.str.strip()
loandf['interest_rate'] = loandf.int_rate.str.strip('%')
loandf.interest_rate = pd.to_numeric(loandf['interest_rate'])

In [6]:
pd.crosstab(index=loandf['home_ownership'], columns='count')

col_0            count
home_ownership
ANY                  3
MORTGAGE        443558
NONE                50
OTHER              182
OWN              87471
RENT            356118

In [7]:
pd.crosstab(index=loandf['grade'], columns='count')

col_0   count
grade
A      148203
B      254535
C      245860
D      139543
E       70705
F       23047
G        5489

In [11]:
pd.crosstab(index=loandf['loan_status'], columns='count')

col_0                                                count
loan_status
Charged Off                                          45248
Current                                             601781
Default                                               1219
Does not meet the credit policy. Status:Charged...     761
Does not meet the credit policy. Status:Fully Paid    1988
Fully Paid                                          207724
In Grace Period                                       6253
Issued                                                8460
Late (16-30 days)                                     2357
Late (31-120 days)                                   11591

In [ ]:
t1 = tree.DecisionTreeClassifier()

In [14]:
loandf.desc.unique()

array([ '  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>',
       '  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>',
       None, ...,
       'I need a lower interest loan to pay off my citifinancial loan.  ',
       'I am looking for a loan to pay my credit cards off as well as making some very much needed auto repairs',
       'I am in my senior year of college in obtaining a bachelors degree in criminal justice.  I do not qualify for financial aid and have used all stafford loans available.  My tuition is approx. $1200 a month and I have 10 courses left which adds up to over $10,000.  I need some assistance to cover my tuition until my graduation date which is August of 2009.'], dtype=object)

In [15]:
loandf.earliest_cr_line.unique()

array(['Jan-1985', 'Apr-1999', 'Nov-2001', 'Feb-1996', 'Jan-1996',
       'Nov-2004', 'Jul-2005', 'Jan-2007', 'Apr-2004', 'Sep-2004',
       'Jan-1998', 'Oct-1989', 'Jul-2003', 'May-1991', 'Sep-2007',
       'Oct-1998', 'Aug-1993', 'Oct-2003', 'Jan-2001', 'Nov-1997',
       'Feb-1983', 'Jul-1985', 'Apr-2003', 'Jun-2001', 'Feb-2002',
       'Aug-1984', 'Nov-2006', 'Dec-1987', 'Nov-1981', 'Feb-1997',
       'Apr-2005', 'Oct-2007', 'Dec-2000', 'Apr-2007', 'Dec-2001',
       'Jan-2003', 'Mar-1994', 'Sep-1998', 'Jun-2004', 'Nov-1995',
       'Jul-1999', 'Jun-1995', 'Sep-1992', 'Jan-2002', 'Apr-1992',
       'Oct-2006', 'May-2000', 'Dec-1998', 'Dec-2004', 'Oct-2000',
       'May-2002', 'May-2006', 'Jul-2002', 'Jul-2006', 'May-1997',
       'Oct-2005', 'Apr-1995', 'Oct-2002', 'Jan-2000', 'Apr-2000',
       'Dec-1994', 'Sep-2005', 'Dec-1984', 'Dec-1999', 'Nov-2003',
       'Jun-1989', 'Jun-2003', 'Oct-1996', 'May-2003', 'Jun-2002',
       'Jun-2007', 'Dec-1996', 'Feb-1984', 'Sep-2002', 'Jan-1986',
       'May-1998', 'Jan-1997', 'Jun-2005', 'Feb-1990', 'Mar-2004',
       'Jul-1995', 'Aug-1994', 'Jun-1992', 'Mar-1997', 'Apr-2006',
       'Apr-1990', 'Aug-1999', 'Sep-2000', 'Feb-2001', 'Dec-1988',
       'Feb-1999', 'Dec-1991', 'Aug-2000', 'Oct-2004', 'Aug-2004',
       'Feb-2005', 'Nov-2005', 'Nov-2000', 'May-2007', 'Jan-1991',
       'Jun-2000', 'Aug-2006', 'Dec-2002', 'Jun-1993', 'Jun-2006',
       'Feb-2004', 'Dec-1990', 'Mar-2000', 'Feb-1995', 'Jul-2001',
       'Apr-2002', 'Sep-2006', 'May-1999', 'Aug-1998', 'Dec-2005',
       'May-2004', 'Oct-2001', 'Jun-1983', 'Mar-1986', 'Apr-1980',
       'Jul-2004', 'Jul-2008', 'May-1996', 'Jan-2004', 'Nov-2002',
       'Aug-2002', 'Aug-2001', 'Mar-1991', 'Sep-1989', 'Sep-1994',
       'Sep-2003', 'Sep-1999', 'Aug-2005', 'Dec-1986', 'Nov-1998',
       'Feb-2006', 'May-1994', 'Nov-2007', 'Feb-1993', 'Nov-1991',
       'May-2005', 'Dec-1973', 'May-2001', 'Mar-1990', 'Mar-1996',
       'Oct-1979', 'Jun-1981', 'Mar-2001', 'Apr-2001', 'Jun-1999',
       'Nov-1993', 'Jan-2006', 'Dec-1997', 'Nov-1994', 'Jul-1997',
       'Oct-1991', 'Jun-1994', 'Mar-2006', 'Sep-1996', 'Apr-1991',
       'Jul-1993', 'Jan-1995', 'Sep-1987', 'Mar-2003', 'Oct-1999',
       'Jul-1996', 'Dec-2003', 'Aug-1988', 'Jan-1992', 'Mar-1998',
       'Feb-2007', 'Aug-1982', 'Mar-1995', 'Dec-1992', 'Jul-1998',
       'Jul-1989', 'May-1990', 'Jul-1994', 'Sep-2001', 'Mar-1984',
       'Aug-2003', 'Nov-1999', 'Mar-2007', 'Mar-2008', 'Apr-1994',
       'Jan-2005', 'Jul-1986', 'Aug-1990', 'May-1992', 'Jul-2000',
       'Mar-1988', 'May-1983', 'Apr-1993', 'Jul-1978', 'Feb-2000',
       'Dec-1981', 'Mar-1992', 'Jan-1981', 'Sep-1990', 'Jun-1998',
       'May-1993', 'Nov-1996', 'Mar-2002', 'Jan-1988', 'Aug-1997',
       'Aug-1987', 'Aug-2008', 'Oct-1994', 'Oct-1986', 'Feb-1994',
       'Jun-1996', 'Feb-1998', 'Nov-2008', 'Apr-1998', 'Jul-1979',
       'Jan-1993', 'May-1987', 'Jul-1971', 'Aug-2007', 'Jun-1997',
       'Mar-1980', 'Dec-2006', 'Jul-2007', 'Oct-1995', 'Jul-1991',
       'Jul-1992', 'Dec-1972', 'Dec-1993', 'Jan-1999', 'Feb-2003',
       'Apr-1997', 'Dec-1995', 'Apr-1996', 'Jul-1990', 'Mar-1970',
       'Nov-1984', 'Apr-1984', 'Jul-1984', 'Aug-1995', 'Mar-1999',
       'Sep-1988', 'Mar-1989', 'Mar-1987', 'Oct-1997', 'Dec-1980',
       'Jan-1994', 'Sep-1995', 'Mar-2005', 'Jan-1989', 'Feb-1992',
       'Jan-1990', 'Nov-1990', 'Mar-1969', 'Jun-1975', 'Mar-1985',
       'Dec-2007', 'Oct-1993', 'Dec-1989', 'Sep-1980', 'Jun-1988',
       'May-1978', 'Apr-1973', 'Aug-1989', 'Oct-1990', 'Sep-1991',
       'Feb-1982', 'Feb-1987', 'Nov-1985', 'Jan-1984', 'Jul-1988',
       'May-2008', 'Oct-1985', 'Mar-1983', 'Aug-1991', 'Sep-1986',
       'Jun-1990', 'Feb-1986', 'Sep-1997', 'Jun-1984', 'Sep-1981',
       'Apr-1986', 'Aug-1979', 'Aug-1980', 'Nov-1992', 'Sep-1993',
       'Jun-1987', 'Sep-1982', 'Aug-1992', 'Aug-1985', 'Jul-1983',
       'Jun-1991', 'Dec-1983', 'Jan-1987', 'Nov-1978', 'Oct-1984',
       'Aug-1996', 'Nov-1989', 'Sep-1976', 'Nov-1986', 'Oct-1987',
       'Sep-2008', 'May-1977', 'May-1986', 'Mar-1981', 'Jan-1983',
       'Nov-1976', 'Sep-1979', 'Oct-1983', 'Sep-1962', 'Jun-1985',
       'May-1982', 'Feb-1988', 'Oct-1992', 'Aug-1983', 'Jun-1973',
       'Apr-1985', 'Oct-1988', 'Oct-1981', 'Sep-1968', 'Jul-1974',
       'Nov-1987', 'May-1995', 'Feb-1991', 'Nov-1988', 'Mar-1993',
       'Jun-2008', 'Jul-1980', 'Dec-1982', 'Mar-1975', 'Feb-1980',
       'Apr-1988', 'Dec-1979', 'Sep-1985', 'Sep-1971', 'Mar-1978',
       'Feb-2008', 'Aug-1978', 'Nov-1970', 'Jun-1979', 'Jun-1980',
       'Apr-1989', 'Sep-1983', 'Feb-1989', 'Nov-1983', 'Jun-1986',
       'Oct-1982', 'Aug-1986', 'Oct-1980', 'May-1988', 'Dec-1985',
       'Jan-1982', 'Sep-1977', 'Dec-1976', 'Apr-1982', 'May-1984',
       'Apr-2008', 'Feb-1979', 'Jan-2008', 'Sep-1964', 'Jul-1987',
       'Jan-1978', 'May-1989', 'Oct-1977', 'Dec-1975', 'Feb-1985',
       'Oct-2008', 'Nov-1982', 'May-1975', 'May-1985', 'Feb-1971',
       'Jun-1977', 'Apr-1981', 'May-1979', 'Jan-1972', 'Sep-1967',
       'Apr-1978', 'Feb-1965', 'Apr-1983', 'Nov-1975', 'Jun-1967',
       'Mar-1974', 'Jul-1972', 'Aug-1967', 'Apr-1971', 'Sep-1984',
       'May-1981', 'Dec-1970', 'Oct-1973', 'Jan-1971', 'Dec-1963',
       'Apr-1974', 'Jan-1980', 'Aug-1969', 'Apr-1975', 'Jul-1977',
       'Mar-1977', 'Nov-1969', 'Jan-1976', 'Mar-1982', 'Apr-1987',
       'Dec-1969', 'May-1974', 'Aug-1974', 'Jun-1972', 'Mar-1963',
       'Nov-1979', 'Aug-1975', 'Sep-1974', 'Aug-1981', 'May-1973',
       'Sep-1973', 'Mar-1973', 'Dec-1977', 'Oct-1976', 'Jan-1974',
       'Jan-1970', 'Aug-1968', 'Feb-1976', 'Jan-1975', 'Oct-1972',
       'Dec-1974', 'Feb-1973', 'Nov-1965', 'Mar-1972', 'Jun-1982',
       'Jun-1974', 'May-1965', 'Jun-1971', 'Oct-1970', 'Apr-1976',
       'Oct-1971', 'Apr-1977', 'Sep-1978', 'Oct-1978', 'Oct-1954',
       'Feb-1981', 'Jan-1977', 'Aug-1977', 'Dec-1978', 'Aug-1976',
       'Jun-1968', 'Jun-1978', 'Jun-1969', 'May-1980', 'Jan-1979',
       'Oct-1965', 'Nov-1974', 'Apr-1966', 'Jun-1976', 'Feb-1972',
       'May-1976', 'Mar-1968', 'Mar-1976', 'Jul-1970', 'Mar-1979',
       'Jul-1976', 'Jul-1982', 'Sep-1965', 'Apr-1967', 'Oct-1963',
       'Feb-1970', 'Jul-1973', 'Feb-1978', 'Nov-1971', 'Aug-1972',
       'Jul-1975', 'Sep-1970', 'Jul-1981', 'Oct-1964', 'Sep-1972',
       'May-1970', 'May-1963', 'Feb-1969', 'Nov-1980', 'Jul-1967',
       'Apr-1970', 'Nov-1977', 'Nov-1966', 'May-1971', 'Apr-1979',
       'May-1972', 'Feb-1968', 'Jul-1964', 'Nov-1967', 'Apr-1964',
       'Feb-1975', 'Jun-1959', 'Sep-1956', 'Jun-1966', 'Jan-1946',
       'Mar-1966', 'Jan-1963', 'Dec-1950', 'Jul-1969', 'Jan-1968',
       'Nov-1973', 'Jun-1970', 'Feb-1977', 'Feb-1974', 'Jan-1973',
       'Feb-1966', 'Dec-1961', 'Aug-1973', 'Aug-1970', 'Sep-1969',
       'Sep-1975', 'Dec-1968', 'Nov-1954', 'Oct-1969', 'Dec-1965',
       'Apr-1972', 'Nov-1972', 'Sep-1963', 'Apr-1969', 'Nov-1962',
       'Oct-1967', 'May-1967', 'Nov-1961', 'Feb-1967', 'Nov-1968',
       'Oct-1975', 'Mar-1971', 'Aug-1971', 'Dec-1966', 'Oct-1968',
       'Oct-1974', None, 'Nov-1963', 'Apr-1968', 'May-1969', 'Nov-1959',
       'Oct-2010', 'Dec-2009', 'Nov-2010', 'Jan-2010', 'Dec-2008',
       'Sep-2009', 'Jul-2010', 'Jan-2009', 'May-2009', 'May-2010',
       'Sep-2010', 'Apr-2009', 'Nov-2009', 'Apr-2010', 'Mar-2009',
       'Feb-2009', 'Aug-2009', 'Oct-2009', 'Jun-2009', 'Jun-2010',
       'Jul-2009', 'Feb-2010', 'Mar-2010', 'Aug-2010', 'Jan-1961',
       'Oct-1962', 'Jun-1964', 'Apr-1962', 'Jan-1960', 'Sep-1966',
       'Mar-1965', 'May-1968', 'Jul-1966', 'Dec-1956', 'Dec-1971',
       'Apr-1965', 'Jan-1964', 'Jul-1965', 'Jan-1965', 'Jan-1962',
       'Aug-1964', 'Jan-1969', 'Oct-1966', 'Jun-1962', 'Dec-1967',
       'Oct-1960', 'Jul-1962', 'Dec-1960', 'Jul-1960', 'Jun-1965',
       'May-1966', 'Oct-1957', 'Aug-1965', 'May-1960', 'Jan-1967',
       'Nov-1953', 'Oct-1959', 'Jun-1963', 'Mar-1967', 'Jul-1963',
       'Nov-1960', 'Mar-1962', 'Mar-1964', 'Jul-1968', 'Feb-1963',
       'Jan-1966', 'Dec-1964', 'May-1964', 'Oct-1961', 'Aug-1960',
       'Mar-1960', 'Apr-1955', 'Sep-1959', 'Aug-1966', 'Jul-1955',
       'Aug-1961', 'Nov-1964', 'May-1953', 'Nov-1950', 'Nov-1955',
       'Mar-1961', 'Feb-1957', 'Aug-1963', 'Feb-1960', 'Sep-1960',
       'Feb-1964', 'Dec-1951', 'Nov-1958', 'Aug-1962', 'Oct-1958',
       'May-1962', 'Mar-2011', 'Jun-2011', 'Dec-2010', 'Oct-2011',
       'Sep-2011', 'Jul-2011', 'Apr-2011', 'May-2011', 'Jan-2011',
       'Feb-2011', 'Aug-2011', 'Apr-1963', 'Nov-2011', 'Dec-1958',
       'Jan-1958', 'Jul-1959', 'Jan-1955', 'May-1959', 'Aug-1946',
       'Apr-1961', 'Jun-1958', 'Jul-1958', 'Jun-1960', 'Jan-1951',
       'Dec-1962', 'Mar-1959', 'Aug-1958', 'Jan-1959', 'Feb-1961',
       'Sep-1957', 'Jun-1949', 'Jun-1961', 'Jan-1956', 'Jan-1954',
       'Jan-1957', 'Jan-1944', 'Oct-1950', 'Jan-1948', 'Jul-1961',
       'May-1958', 'Jan-1953', 'May-1950', 'Nov-1956', 'Feb-2012',
       'May-2012', 'Mar-2012', 'Dec-2011', 'Apr-2012', 'Nov-2012',
       'Jul-2012', 'Aug-2012', 'Jun-2012', 'Oct-2012', 'Jan-2012',
       'Sep-2012', 'May-1961', 'Feb-1959', 'Jan-1950', 'Sep-1961',
       'Jun-1955', 'Sep-1953', 'Aug-1959', 'Mar-1958', 'Dec-1959',
       'Apr-1960', 'Nov-1957', 'May-1955', 'Aug-1951', 'Jun-1957',
       'May-1957', 'Jan-1952', 'Mar-1955', 'Jul-1951', 'Aug-1950',
       'Aug-1955', 'Apr-1958'], dtype=object)

In [8]:
loandf['early_cred_ym'] = pd.to_datetime(loandf.earliest_cr_line)

In [11]:
loandf.early_cred_ym.head(10)

0   1985-01-01
1   1999-04-01
2   2001-11-01
3   1996-02-01
4   1996-01-01
5   2004-11-01
6   2005-07-01
7   2007-01-01
8   2004-04-01
9   2004-09-01
Name: early_cred_ym, dtype: datetime64[ns]

In [ ]:
loandf['e_cred_ym'] = [x.to_period('M') for x in loandf['early_cred_ym'].dropna()]

In [ ]:
loandf.columns

In [ ]:
loandf.delin