# DS-SF-30 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [1]:
import os
import pandas as pd
# TODO

# If max_cols is exceeded, switch to truncate view. Depending on large_repr, 
# objects are either centrally truncated or printed as a summary view. ‘None’ value means unlimited.
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [2]:
df = pd.read_csv(os.path.join('dataset-02-ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [3]:
# TODO
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [4]:
# TODO
df.shape

(153, 6)

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [12]:
# TODO
for a in df.columns: print (a)

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [15]:
# TODO
len(df.columns)

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [20]:
# Output resembles a spreadsheet
df[:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [22]:
# Same as above but the row header us for the last two rows.
df[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [37]:
# TODO
print (df.iloc[46]['Ozone'])
print ('\n')
print (df.iloc[46])

21.0


Ozone       21.0
Solar.R    191.0
Wind        14.9
Temp        77.0
Month        6.0
Day         16.0
Name: 46, dtype: float64

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [65]:
# 37 missing values in the Ozone column
# print (df['Ozone'])
import numpy
print (df[df['Ozone'].isnull()])

     Ozone  Solar.R  Wind  Temp  Month  Day
4      NaN      NaN  14.3    56      5    5
9      NaN    194.0   8.6    69      5   10
24     NaN     66.0  16.6    57      5   25
25     NaN    266.0  14.9    58      5   26
26     NaN      NaN   8.0    57      5   27
..     ...      ...   ...   ...    ...  ...
102    NaN    137.0  11.5    86      8   11
106    NaN     64.0  11.5    79      8   15
114    NaN    255.0  12.6    75      8   23
118    NaN    153.0   5.7    88      8   27
149    NaN    145.0  13.2    77      9   27

[37 rows x 6 columns]

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [76]:
# TODO
print (df['Ozone'].mean(skipna=True))
print (df['Ozone'].mean())

#df[df['Ozone'].isnull() == False]

42.12931034482759
42.12931034482759

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [88]:
# TODO
df[df["Ozone"] > 31][df['Temp'] > 90]

/Users/revit/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [ ]:
# TODO

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [ ]:
# TODO

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [ ]:
# TODO